# Database files
*.db
*.sqlite
*.sqlite3
*.sql

*.pyc
.env

# Virtual environment
env310
env310_backup
/mnt/wd-500gb/Documents/clean-garcs/env310
/mnt/wd-500gb/Documents/clean-garcs/env310_backup
 
__pycache__/
backend/instance/
backend/instance/database.db
backend/instance/database.db

.env
.venv/
.newvenv/
.env.*